{% extends 'base.html' %}

{% block title %}Reviews List{% endblock title %}

{% block content %}
    <h2>Reviews list</h2>
    {% if user.is_authenticated %}
        <p><a href="{% url 'create' %}">Make</a> your own review</p>
    {% else %}
        <p>You must be <a href="{% url 'login' %}">logged in</a> to create your own review</p>
    {% endif %}
    <ul>
    {% for review in object_list reversed %}
        <li><a href="{% url 'review_detail' pk=review.pk %}">{{ review.site }} - {{ review.rating }} ({{ review.author }})</a></li>
    {% endfor %}
    </ul>
{% endblock content %}
